@media (prefers-color-scheme: dark) {
    
    * {
        --background-0: rgb(36, 36, 36);
        --background-1: rgb(63, 63, 63);
        --background-2: rgb(100, 100, 100);
        --background-3: rgb(200, 200, 200);

        --text-0: rgb(200, 200, 200);
        --text-1: rgb(240, 240, 240);
        --text-2: rgb(0, 80, 200);

        --text-gradient-0: linear-gradient(45deg,rgb(0,80,200), rgb(30,30,200));
    }
}

* {
    padding: 0px;
    margin: 0px;
    border: none;
    /* display: block; */
}

:root, body {
    background: var(--background-1);
}

nav {
    position: fixed;
    top: 0px;
    height: 10vh;
    width: 100vw;
    background: var(--background-0);
}

img.hero {
    margin-top: 10vh;
    height: 40vh;
    width: 100vw;
    display: block;
}

main {
    min-height: 50vh;
    width: 100vw;
    background: var(--background-0);
}