@import url('/scripts/css/colour-scheme.css');

.list {
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    display: block;
    background: var(--background-1);
    border-radius: 10px;
}

.list.dot-points>ul, .list.dot-points>a {
    margin: 0px 0px 0px 1vh;
    height: 3vh;
    font-size: 2vh;
    width: 100%;
    text-decoration: none;
    border-radius: 3px;
}

.list.dot-points>ul:hover, .list.dot-points>a:hover {
    background: var(--background-0);
}