@font-face {
    font-family: 'Source-Code-Pro';
    src: url("../../assets/fonts/Source-Code-Pro.ttf");
}

@font-face {
    font-family: 'Roboto';
    src: url("../../assets/fonts/Roboto-Flex.ttf");
}